<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block stylesheets %}{% endblock %}
    {% block scripts %}{% endblock %}

    <title>{% block title %}My Website{% endblock %}</title>
</head>

<body>
    {% block content %}

    {% endblock %}

    <footer id="footer">
        <p>
            Bond Brothers is your go-to platform for seamless collaboration and
            project management. Our intuitive design and advanced tools empower
            teams to brainstorm ideas, manage projects, and share content
            effortlessly. Contact us at support@bondbrothers.com or +1-800-555-1234.
            Stay updated by subscribing to our newsletter and following us on social
            media.Join us and unlock the full potential of collaboration with Bond
            Brothers.
        </p>
    </footer>
</body>

</html>